<div class="grid_4  alfa omega sidebar">
  <%= render :partial => "shared/block_members" if members %>
  <%= render :partial => "shared/block_tags" %>
  <%= render :partial => "shared/block_archive" %>

  <div class="partners alfa grid_4">
    <h1 class="title">Parceiros</h1>
    <h3 class="partner-pd omega alfa grid_2">
      <%= link_to "Porto Digital", "http://www.portodigital.org/" %>
    </h3>
    <h3 class="partner-cns omega alfa grid_2">
    </h3>
    </h3>
    <h3 class="partner-ccte omega alfa grid_2">
      <%= link_to "CTTE", "http://www.cin.ufpe.br/~ccte/" %>
    </h3>
    <h3 class="partner-for omega alfa grid_2">
      <%= link_to "Frevo on Rails", "http://www.frevoonrails.com.br/" %>
    </h3>
  </div>
</div>
