<h1>Listing Tags</h1>

<ol>
	<% @tags.each do |tag| %>
	<li><%=tag.name%> 
	    <%= link_to 'Destroy', tag, :method => :delete, :confirm => 'Are you sure?'%> 
	</li>
	<%end%>
</ol>

<div>
	<%= form_for(@tags_new) do |form| %>
	<%= form.label :name %>
	<%= form.text_field :name%>
	<%= form.submit "Create" %> 
	<% end %>
</div>

<%= link_to 'Back', posts_path%>  
