<%= raw wymeditor_initialize %>
<%= form_for(@post) do |form| %>

  <div>
    <%= form.label :title %><br />
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %><br />
    <%= form.text_area :body, :class => 'wymeditor' %>
  </div>

	<br />
  <%= render :partial => 'posts/use_tag',
     :locals => { :form => form } %>
  <br/>

  <div>
    <%= form.submit %>
  </div>

<% end %>
