<% markparser = Redcarpet::Markdown.new(Redcarpet::Render::HTML,
                                        :autolink => true,
                                        :space_after_headers => false) %>

<li class="post grid_12 omega alfa">
  <%= render :partial => 'posts/post_date',
             :locals => { :post => post_preview } %>
   <div class="box-title grid_11 alfa omega">
    <%= link_to post_preview.title, post_preview, :class => "title grid_10" %>
  </div>
  <div class="grid_11 omega alfa informations">
    <div class="author alfa omega grid_4">
      <span class="add-informations">
        por <%= render :partial => 'author_link',
                       :locals => { :post => post_preview} %>
      <span class="add-informations">
        <%= post_preview.created_at.to_datetime.strftime(", às %H:%M") %>
    </span></span>
  </div>
  <ul class="tags omega grid_6">
    <% post_preview.tags.each do |tag| %>
      <li><%= link_to tag.name, tag_posts_path(tag), :class => "tag" %></li>
    <% end %>
  </ul>
</div>
<div class="text-box alfa omega grid_11">
  <div class="text alfa omega">
    <% text = markparser.render(post_preview.body) %>
    <%# if post_preview.title == "A logo do Redu" then debugger end %>
    <%= raw (truncate (truncate_html(truncate_html_tag(text, "img"), 250, "")),
                              :length => 30000, :separator => " ",
                              :omission => " ...") %>
    <%= link_to " + leia mais", post_preview, :class => "read-more" %>
  </div>
</div>
</li>
