<div class="files-page">
  <ul class="itens-files-page">
    <li class="file-page">
      <%= link_to 'blog', root_path %>
      <span class="bar"> /</span>
    </li>
    <li class="file-page">
      <a>arquivos</a>
      <span class="bar"> /</span>
    </li>
    <% if params[:year] %>
      <li class="file-page"><!-- year -->
        <%= link_to params[:year].to_s, {:controller => :posts, :action => 'archive', :year => params[:year] } %>
        <% if params[:month] %>
          <span class="bar"> /</span>
        <% end %>
      </li>
   <% end %>
   <% if params[:month] %>
     <li class="file-page"><!-- month -->
       <%= link_to (l Date.today.beginning_of_year.advance(:months => (params[:month].to_i-1)), :format => "%B").downcase, {:controller => :posts, :action => 'archive', :month => params[:month] } %>
     </li>
   <% end %>
  </ul>
</div><!-- end navbar -->

<div class="box-posts omega alfa grid_12">
  <ol class="posts omega alfa">
    <%= render :partial => 'post_preview', :collection => @posts %>
  </ol>
</div>
<%= render :partial => "shared/sidebar", :locals => { :members => false } %>
<div class="show-more grid_3">
    <%= link_to 'Mostrar Mais...', root_path, :class =>  "link-show-more icon-seta-gray_8_12-before" %>
</div>
