<div style="margin: 0 50px 0 35px">

<h1> Listing Posts </h1>

<a href="/posts.rss">
<img src="/assets/feed.jpg" alt="HTML tutorial" width="32" height="32" align="right"/>
</a>

<div style="float:right; margin-right:100px">
  <%= render 'block_tags' %>
  <%= render 'block_archive' %>
</div>
<div>
  <h2>Last Posts</h2>
  <ul>
  <%= render :partial => "post_preview", :collection => @posts %>
  </ul>
</div>

<div style="padding-bottom: 20px">
	<%= render "devise/menu/login_items" %>
</div>
<!--
<div>
  <%= form_tag "/posts/search", :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search posts", :name => nil %>
  <% end %>
</div>
-->
</div>
