<div style="margin: 0 50px 0 35px">

<h1> Listing Posts </h1>

<a href="/posts.rss">
<img src="/assets/feed.jpg" alt="HTML tutorial" width="32" height="32" align="right"/>
</a>

<div style="float:right; margin-right:100px">
  <div id="tags">
    <h2>Tag List</h2>
    <h3>
      <ul>
        <%@tags.find_all {|tag| tag.posts.size > 0}.each do |tag_list|  %>
          <li><%= link_to tag_list.name, {:id => tag_list.id, :controller => :posts, :action => 'search_tags'} %></li>
        <% end %>
      </ul>
    </h3>
  </div>
  <div id="archive">
    <h2>Arquivos</h2>
    <!--#FIXME: Mudar lógica para model -->
    <%
      hash_archive = Post.all(:order => 'created_at DESC')
      group_years = hash_archive.group_by{ |p| p.created_at.year}
    %>
    <% group_years.keys.each do |key| %>
      <h3><%= key %></h3>
      <% group_years[key].group_by { |p| p.created_at.month}.keys.each do |month| %>
        <h4><%= month %></h4>
      <% end %>
    <% end %>
  </div>
</div>
<div>
  <h2>Last Posts</h2>
  <ul>
  <% @posts.each do |post| %>
	  <li>
	  	<%= link_to post.title, post %>, by
	  	<%= User.find(post.user_id).username %>
	  </li>
  <% end %>
  </ul>
</div>

<div style="padding-bottom: 20px">
<% if user_signed_in? %>
  <b><%= link_to 'New post', new_post_path %></b> ||
  <b><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></b> ||
  <b><%= link_to 'Tags', tags_path %></b>
<% else %>
  <b><%= link_to 'Login', new_user_session_path %></b>
<% end %>
</div>
<div>
  <%= form_tag "posts/search", :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search posts", :name => nil %>
  <% end %>
</div>
</div>
