<div class="posts-page">
  <ul class="itens-posts-page">
    <li class="post-page">
      <%= link_to 'blog', root_path %><span class="bar"> /</span>
    </li>
    <li class="post-page"><%= link_to 'post', @post %></li>
  </ul>
</div>

<div class="box-posts omega alfa grid_12">
  <ol class="posts omega alfa">
    <li class="post grid_12 omega alfa">
      <%= render :partial => 'posts/post_date',
                 :locals => { :post => @post } %>
      <div class="box-title grid_11 alfa omega">
        <%= link_to @post.title, @post, :class => 'title grid_10' %>
      </div>
      <div class="grid_11 omega alfa informations">
        <div class="author alfa omega grid_4">
          <span class="add-informations">
            por <%= render :partial => 'author_link', :locals => { :post => @post} %>
            <span class="add-informations">
              <%= @post.created_at.to_datetime.strftime(", às %H:%M") %>
            </span>
          </span>
        </div>
        <ul class="tags omega grid_6">
          <% if @post.tags.size > 0 %>
            <% @post.tags.all.collect do |tag| %>
              <li><%= link_to tag.name, tag_posts_path(tag), :class => 'tag'%></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="text-box text-box-post alfa omega grid_11">
        <%= raw markparser.render(@post.body) %>
      </div>
      <%= render :partial => 'edit_or_delete_post_links',
           :locals => { :post => @post } %>
    </li>
  </ol>
</div>
<%= render :partial => "shared/sidebar", :locals => { :members => false } %>
<div class='push'></div>
