<% markparser = Redcarpet::Markdown.new(Redcarpet::Render::HTML,
        :autolink => true, :space_after_headers => false) %>

<span><%= l @post.created_at.to_datetime, :format => ("%d %b %y")%></span>

<h3> blog / post </h3>
<h1><%= raw @post.title %></h1>

<span> por <%= @post.user.username %>,<%= @post.created_at.to_datetime.strftime("às %H:%M")%></span>

<%= raw markparser.render(@post.body) %>

<% if @post.tags.size > 0 %>
  <h3>Tags:</h3>
  <ul>
  <% @post.tags.all.collect do |tag| %>
    <li><%= link_to tag.name, {:action => "search_tags", :id => tag.id} %></li>
  <% end %>
  </ul><br />
<% end %>

<div id="options">
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path %> |
  <%= link_to 'Delete', [@post], :method => :delete, :confirm => 'Delete?' %>
<% end %>
</div>
<br />

<div>
  <%= link_to 'Back', posts_path %>
</div>
