
<h1><%= raw @post.title %></h1>
<p><%= raw @post.body %></p>

<% if @post.tags.size > 0 %>
  <h3>Tags:</h3>
  <ul>
  <% @post.tags.all.collect do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
  </ul><br />
<% end %>

<div id="options">
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path %> |
  <%= link_to 'Delete', [@post], :method => :delete, :confirm => 'Delete?' %>
<% end %>
</div>
<br />

<div>
  <%= link_to 'Back', posts_path %>
</div>
