
<h1><%= raw @post.title %></h1>
<p><%= raw @post.body %></p>

<p>Tags: 
<% @tags.each do |tag| %>
	<%= tag.name %>
<% end %>
</p>

<div id="options">
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path %> |
  <%= link_to 'Delete', [@post], :method => :delete, :confirm => 'Delete?' %>
<% end %>
</div>
<br />

<div>
  <%= link_to 'Back', posts_path %>
</div>
