<% markparser = Redcarpet::Markdown.new(Redcarpet::Render::HTML, :autolink => true, :space_after_headers => false) %>

<div class="posts-page">
  <ul class="itens-posts-page">
    <li class="post-page"><%= link_to 'blog', root_path %><span class="bar"> /</span></li>
    <li class="post-page"><%= link_to 'post', @post %><span class="bar"> /</span></li>
  </ul>
</div>
<div class="box-posts omega alfa grid_12">
  <ol class="posts omega alfa">
    <li class="post grid_12 omega alfa">
      <span class="date grid_1 omega alfa"><span class="day"><%= @post.created_at.day %></span> <%= l @post.created_at.to_datetime, :format => ("%b") %> <%= @post.created_at.year %></span>
      <div class="box-title grid_11 alfa omega">
        <%= link_to @post.title, @post, :class => 'title grid_10' %>
      </div>
      <div class="grid_11 omega alfa informations">
        <div class="author alfa omega grid_4">
          <span class="add-informations">por <%= render :partial => 'author_link', :locals => { :post => @post} %><span class="add-informations"><%= @post.created_at.to_datetime.strftime("às %H:%M") %></span></span>
        </div>
        <ul class="tags omega grid_3">
          <% if @post.tags.size > 0 %>
            <% @post.tags.all.collect do |tag| %>
              <li><%= link_to tag.name, tag_posts_path(tag), :class => 'tag'%></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="text-box text-box-post alfa omega grid_11">
        <%= raw markparser.render(@post.body) %>
      </div>
    </li>
  </ol>
</div>

<%= render :partial => "shared/sidebar", :locals => { :members => false } %>
